/* ------ Umumi hisseler ------ */
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #a5a4a9;
    font-size: 15px;
}
.standart-width {
    margin-left: 10%;
    margin-right: 8%;
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 100%;
}

/* ======================== STANDART TITLE =========================== */
.standard-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.standard-title .standard-title-inside {
    width: 50%;
}
.standard-title .standard-title-inside .standard-title-span {
    font-weight: 500;
    font-size: 16px;
    color: #ffbe00;
}
.standard-title .standard-title-inside .standard-title-h2 {
    font-weight: 700;
    font-size: 35px;
    color: #0b0320;
    margin-top: 8px;
    margin-bottom: 25px;
}
.standard-title .standard-title-inside .standard-title-p {
    margin-bottom: 50px;
}


/* html, body, #home, .background-img, .background-color {
    height: 100% !important;
} */
h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0%;
    padding: 0%;
}
span, p {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #a5a4a9;
    font-size: 15px;
}
.z-index {
    position: relative;
    z-index: 1;
}
.cursor:hover {
    cursor: pointer;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/* ----- Home ----- */
.background-img {
    background-image: url("image/1.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    opacity: 1;
}
.background-color {
    background-color: #0b0320;
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* ----- header ----- */
header .header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header .header .logo {
    width: 20%;
    text-align: right;
    margin-top: 30px;
}
header .header .menu {
    width: 60%;
    margin-top: 30px;
}
header .header .menu .menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
header .header .menu .menu-ul .menu-li {
    margin-right: 5%;
    position: relative;
    height: 40px;
}
header .header .icon-menu {
    width: 20%;
    margin-top: 30px;
}
header .icon-menu .icon-menu-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 6%;
}
header .icon-menu .icon-cart {
    font-size: 18px;
    color: white;
}
header .icon-menu .icon-m {
    font-size: 18px;
    color: #212529;
    transition: ease-in-out .3s;
}
header .icon-menu .menu-button-cart {
    background-color: transparent;
    border: 1px solid white;
    transition: ease-in-out .3s;
}
header .icon-menu .menu-button-m {
    background-color: #ffbe00;
    border: 1px solid #ffbe00;
    transition: ease-in-out .3s;
}
.open-menu .open-menu-a {
    color: #0b0320;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 9px 15px;
    display: block;
    font-weight: bolder;
    transition: ease-in .3s;
    text-decoration: none;
}
.menu .menu-ul .menu-li .open-menu {
    visibility: hidden;
    width: 250px;
    position:absolute;
    background-color: white;
    border-radius: 5px;
    transition: .3s ease-in-out;
    top: 70px;
    z-index: 5;
    opacity: 0;
}
.menu .menu-ul .menu-li:hover .open-menu {
    visibility: visible;
    top: 40px;
    opacity: 1;
}
.menu-a i {
    transition: ease-in-out .3s;
}
.menu .menu-ul .menu-li:hover .menu-a i {
    transform: rotate(90deg);
    color: #ffbe00;
}
.menu-a {
    transition: ease-in .3s;
    color: white;
    text-decoration: none;
}
.menu-li:hover .menu-a {
    color: #ffbe00;
}

.open-menu .open-menu-a:hover {
    color: #ffbe00;
    margin-left: 6%;
}
header .icon-menu .menu-button-m:hover {
    background-color: #0b0320;
    border: 1px solid #0b0320;
}
header .icon-menu .menu-button-cart:hover {
    background-color: #0b0320;
    border: 1px solid #0b0320;
}
header .icon-menu .menu-button-m:hover .icon-m {
    color: white;
}

/* -------------- Home text ------------- */
.free-home {
    display: flex;
    justify-content: space-between;
    padding-top: 11%;
    width: 100%;
    z-index: 0;
}
.free-home .free-home-text-button {
    width:  60%;
}
.free-home .free-home-img {
    width: 36%;
}
.free-home .free-home-img img {
    width: 100%;
    height: 100%;
}
.free-home-text .free-home-h1 {
    font-weight: 700;
    font-size: 65px;
    color: white;
}
.free-home-text .free-home-p {
    color: white;
    width: 86%;
}
.free-home-button .home-but {
    width: 22%;
    height: 48px;
    border-radius: 50px;
}
.free-home-button .home-but .home-but-a {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.free-home-button {
    margin-top: 6%;
}
.home-but-order-now {
    background-color: #ffbe00;
    border: 0px solid transparent;
    margin-right: 3%;
    transition: ease-in-out .3s;
}
.home-but-free-call {
    background-color: transparent;
    border: 1.5px solid white;
    transition: ease-in-out .3s;
}
.home-but-a-order-now {
    color: #0b0320;
    transition: ease-in-out .3s;
}
.home-but-a-free-call {
    color: white;
    transition: ease-in-out .3s;
}
.home-but-order-now:hover {
    background-color: #0b0320;
}
.home-but-order-now:hover .home-but-a-order-now {
    color: white;
}
.home-but-free-call:hover {
    background-color: white;
}
.home-but-free-call:hover .home-but-a-free-call {
    color: #0b0320;
}
.standart-width-free-home {
    padding: 0%;
}
/* ------------------- Food img area -------------------- */
.food-img-area .food {
    max-width: 100px;
    transition: ease-in-out .3s;
}
.food-img-area .food:hover {
    transform: scale(1.1);
}
.food-img-area .container {
    position: absolute;
    width: 100%;
    bottom: -50px;
    left: 10%;
    right: 10%;
}

/* ---------------- About us ------------------- */
.about-us {
    padding-top: 25%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
}
.about-us-img {
    width: 50%;
    position: relative;
}
.abut-us-img1 {
    max-width: 100%;
}
.abut-us-img2 {
    position: absolute;
    left: 42%;
    bottom: 0;
    max-width: 46.9%;
}
.about-us-text {
    width: 50%;
    padding-left: 4%;
    padding-right: 4%;
}
.about-us-text .about-us-span {
    font-weight: 500;
    font-size: 16px;
    color: #ffbe00;
}
.about-us-text .about-us-h2 {
    font-weight: 700;
    font-size: 35px;
    color: #0b0320;
    margin-top: 8px;
    margin-bottom: 25px;
}
.about-us-text .about-us-button {
    width: 25%;
    height: 48px;
    border-radius: 50px;
    border: 0px;
    background-color: #ffbe00;
    color: #0b0320;
    font-size: 15px;
    font-weight: 500;
    font-family: poppins,sans-serif;
    transition: ease-in-out .3s;
    margin-top: 25px;
}
.about-us-text .about-us-button:hover {
    background-color: #0b0320;
    color: white;
}
.about-us .about-shape img {
    position: absolute;
}
.about-us .about-shape .about-shape-img1 {
    right: 0;
    top: 32%;
    max-width: 57%;
}
.about-us .about-shape .about-shape-img2 {
    right: 7.5%;
    top: 32%;
}
.about-us .about-shape .about-shape-img3 {
    top: 37.5%;
    right: 20%;
}
.about-us .about-shape .about-shape-img4 {
    top: 33%;
    right: 33%;
}
.about-us .about-shape .about-shape-img5 {
    top: 31%;
    right: 47%;
}

/* -------------------------- SERVICE --------------------------- */
.SERVICE .service-item {
    position: relative;
    /* background: #ffbe00; */
    padding: 0;
    margin-right: 1.5%;
    width: 31.5%;
    border-radius: 30px;
    transition: ease-in-out 0.3s;
}
.SERVICE .service-item-center {
    background: #ffbe00;
}
.SERVICE .service-item-center .service-item-text-center .service-item-text-center-h3, .service-item-text-center-p {
    color: white;
}
.SERVICE .service-item .service-item-img {
    position: absolute;
}
.SERVICE .service-item .service-item-text {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.SERVICE .service-item .service-item-text h3 {
    font-weight: 700;
    font-size: 22px;
    color: #0b0320;
    margin-top: 25px;
    margin-bottom: 20px;
    transition: ease-in-out 0.3s
}
.SERVICE .service-item .service-item-text p {
    margin-bottom: 0;
    transition: ease-in-out 0.3s
}
.SERVICE .service-item:hover {
    background: #ffbe00;
}
.SERVICE .service-item:hover h3 {
    color: white;
}
.SERVICE .service-item:hover p {
    color: white;
}
.SERVICE .service-button-left {
    position: relative;
}
.SERVICE .service-button-right {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.SERVICE .service-button button{
    position: absolute;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    border: 0px;
    color: white;
    background-color: #ffbe00;
    
}
.service-button {
    opacity: 0.5;
    transition: ease-in-out .3s;
}
.SERVICE .service-button-left .button-left {
    left: 7%;
    top: 440px;
}
.SERVICE .service-button-right .button-right {
    right: 7%;
    bottom: 219px;
}
.SERVICE .service-button:hover {
    opacity: 1;
}
/* .SERVICE .service-item:hover .service-button {
    opacity: 0.5;
} */


/* =================================== COLLECTIONS ================================ */

.COLLECTIONS .collections-menu {
    display: flex;
    justify-content: center;
}
.COLLECTIONS .collections-menu .collection-menu-li {
    margin: 0.5%;
}
.COLLECTIONS .collections-menu .collection-menu-li .collection-menu-but {
    padding: 10px 20px;
    border-radius: 50px;
    border: 0px solid;
    font-size: 15px;
    color: #0b0320;
    font-weight: 500;
    font-family: poppins,sans-serif;
}
.collections-img {
    position: relative;
}
.collections-img .collections-add-to-cart {
    position: absolute;
    background: white;
    top: 5px;
    display: flex;
    right: 0px;
}
.collections-img .collections-ul-star {
    position: absolute;
    display: flex;
    bottom: 0px;
    background: white;
    left: 61px;
    padding: 0%;
    margin: 0%;
}
.collections-img .collections-image {
    max-width: 100%;
    width: max-content;
}