/* ------ Umumi hisseler ------ */
body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #a5a4a9;
    font-size: 15px;
}
/* html, body, #home, .background-img, .background-color {
    height: 100% !important;
} */
.z-index {
    position: relative;
    z-index: 1;
}
.cursor:hover {
    cursor: pointer;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
/* ----- Home ----- */
.background-img {
    background-image: url("image/1.jpg");
    background-size: cover;
    width: 100%;
    height: 630px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    opacity: 1;
}
.background-color {
    background-color: #0b0320;
    opacity: .6;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}
/* ----- header ----- */
header .header {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
header .header .logo {
    width: 20%;
    text-align: right;
    margin-top: 30px;
}
header .header .menu {
    width: 60%;
    margin-top: 30px;
}
header .header .menu .menu-ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
header .header .menu .menu-ul .menu-li {
    margin-right: 5%;
    position: relative;
}
header .header .icon-menu {
    width: 20%;
    margin-top: 30px;
}
header .icon-menu .icon-menu-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 6%;
}
header .icon-menu .icon-cart {
    font-size: 18px;
    color: white;
}
header .icon-menu .icon-m {
    font-size: 18px;
    color: #212529;
}
header .icon-menu .menu-button-cart {
    background-color: transparent;
    border: 1px solid white;
}
header .icon-menu .menu-button-m {
    background-color: #ffbe00;
    border: 1px solid #ffbe00;
}
.open-menu .open-menu-a {
    color: #0b0320;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 9px 15px;
    display: block;
    font-weight: bolder;
    transition: ease-in .3s;
}
.menu .menu-ul .menu-li .open-menu {
    display: none;
    width: 250px;
    position:absolute;
    background-color: white;
    border-radius: 5px;
}
.menu .menu-ul .menu-li:hover .open-menu {
    display: block;
}
.menu-a {
    transition: ease-in .3s;
}
.menu-li:hover .menu-a {
    color: #ffbe00;
}
.open-menu .home-a-2 {
    color: #ffbe00; 
}
.open-menu .open-menu-a:hover {
    color: #ffbe00;
    margin-left: 6%;
}
a { color: white;}
